# Quickstart
## Content based model

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import pickle
import joblib
import sys
import jdc

%load_ext autoreload
%autoreload 2

Matplotlib created a temporary config/cache directory at /tmp/matplotlib-fd1313zo because the default path (/home/pjavier/.cache/matplotlib) is not a writable directory; it is highly recommended to set the MPLCONFIGDIR environment variable to a writable directory, in particular to speed up the import of Matplotlib and to better support multiprocessing.

In [4]:
from resype.preprocessing import *

In [159]:
# import nltk
# nltk.download('stopwords')
# nltk.download('punkt')

In [171]:
transaction_list, user_df = create_user_feature() # for example only
item_df = create_item_feature(num_features = 300)

In [172]:
# transaction list
transaction_list.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [173]:
transaction_list = pd.read_csv("sample_data/ratings_5k.csv")
transaction_list = transaction_list[:1000]

In [174]:
unique_users = transaction_list.userId.unique()
len(unique_users)

7

In [175]:
unique_items= item_df.movieId.unique()
sorted(unique_items)

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 34,
 36,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 52,
 53,
 54,
 55,
 57,
 58,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 85,
 86,
 87,
 88,
 89,
 92,
 93,
 94,
 95,
 96,
 97,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 110,
 111,
 112,
 113,
 116,
 117,
 118,
 119,
 121,
 122,
 123,
 125,
 126,
 128,
 129,
 132,
 135,
 137,
 140,
 141,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 193,
 194,
 195,
 196,
 198,
 199,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 222,
 223,
 224,
 225,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 265,
 266,
 267,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 298,
 299,
 300,
 301,
 302,
 303,
 305,
 306,
 307,
 308,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 393,
 405,
 406,
 407,
 408,
 409,
 410,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 440,
 441,
 442,
 444,
 445,
 446,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 464,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 499,
 500,
 501,
 502,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 526,
 527,
 528,
 529,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 555,
 556,
 558,
 562,
 563,
 564,
 567,
 568,
 569,
 573,
 574,
 575,
 577,
 579,
 580,
 581,
 583,
 585,
 586,
 587,
 588,
 589,
 590,
 592,
 593,
 594,
 595,
 596,
 597,
 599,
 600,
 602,
 605,
 606,
 608,
 609,
 610,
 611,
 612,
 613,
 615,
 616,
 617,
 618,
 619,
 626,
 627,
 628,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 645,
 647,
 648,
 649,
 650,
 653,
 656,
 661,
 662,
 663,
 665,
 667,
 668,
 670,
 671,
 673,
 674,
 678,
 679,
 680,
 685,
 688,
 691,
 692,
 694,
 695,
 697,
 698,
 700,
 703,
 704,
 706,
 707,
 708,
 709,
 710,
 711,
 714,
 715,
 718,
 719,
 722,
 724,
 725,
 726,
 728,
 731,
 733,
 735,
 736,
 737,
 741,
 742,
 743,
 745,
 747,
 748,
 750,
 757,
 759,
 760,
 761,
 762,
 764,
 765,
 766,
 773,
 775,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 788,
 790,
 795,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 808,
 809,
 810,
 813,
 818,
 823,
 824,
 828,
 829,
 830,
 832,
 833,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 848,
 849,
 851,
 852,
 858,
 861,
 866,
 867,
 869,
 870,
 875,
 876,
 879,
 880,
 881,
 882,
 885,
 886,
 888,
 889,
 891,
 892,
 893,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 959,
 961,
 963,
 965,
 968,
 969,
 970,
 971,
 973,
 976,
 979,
 981,
 982,
 984,
 986,
 987,
 988,
 990,
 991,
 993,
 994,
 996,
 998,
 999,
 1003,
 1004,
 1005,
 1006,
 1007,
 1008,
 1009,
 1010,
 1011,
 1012,
 1013,
 1014,
 1015,
 1016,
 1017,
 1018,
 1019,
 1020,
 1021,
 1022,
 1023,
 1024,
 1025,
 1027,
 1028,
 1029,
 1030,
 1031,
 1032,
 1033,
 1034,
 1035,
 1036,
 1037,
 1040,
 1041,
 1042,
 1043,
 1046,
 1047,
 1049,
 1050,
 1051,
 1053,
 1054,
 1055,
 1056,
 1057,
 1059,
 1060,
 1061,
 1064,
 1066,
 1068,
 1073,
 1077,
 1078,
 1079,
 1080,
 1081,
 1082,
 1083,
 1084,
 1085,
 1086,
 1088,
 1089,
 1090,
 1091,
 1092,
 1093,
 1094,
 1095,
 1096,
 1097,
 1099,
 1100,
 1101,
 1103,
 1104,
 1105,
 1111,
 1112,
 1114,
 1116,
 1117,
 1119,
 1120,
 1121,
 1123,
 1124,
 1125,
 1126,
 1127,
 1128,
 1129,
 1130,
 1131,
 1132,
 1135,
 1136,
 1137,
 1140,
 1144,
 1147,
 1148,
 1150,
 1151,
 1156,
 1161,
 1162,
 1163,
 1167,
 1170,
 1171,
 1172,
 1173,
 1175,
 1176,
 1177,
 1178,
 1179,
 1180,
 1183,
 1184,
 1185,
 1186,
 1187,
 1188,
 1189,
 1190,
 1191,
 1192,
 1193,
 1194,
 1196,
 1197,
 1198,
 1199,
 1200,
 1201,
 1202,
 1203,
 1204,
 1206,
 1207,
 1208,
 1209,
 1210,
 1211,
 1212,
 1213,
 1214,
 1215,
 1216,
 1217,
 1218,
 1219,
 1220,
 1221,
 1222,
 1223,
 1224,
 1225,
 1226,
 1227,
 1228,
 1230,
 1231,
 1232,
 1233,
 1234,
 1235,
 1236,
 1237,
 1238,
 1240,
 1241,
 1242,
 1243,
 1244,
 1245,
 1246,
 1247,
 1248,
 1249,
 1250,
 1251,
 1252,
 1253,
 1254,
 1255,
 1256,
 1257,
 1258,
 1259,
 1260,
 1261,
 1262,
 1263,
 1264,
 1265,
 1266,
 1267,
 1268,
 1269,
 1270,
 1271,
 1272,
 1273,
 1274,
 1275,
 1276,
 1277,
 1278,
 1279,
 1280,
 1281,
 1282,
 1283,
 1284,
 1285,
 1286,
 1287,
 1288,
 1289,
 1290,
 1291,
 1292,
 1293,
 1295,
 1296,
 1297,
 1298,
 1299,
 1300,
 1301,
 1302,
 1303,
 1304,
 1305,
 1306,
 ...]

In [176]:
# item ids and features
item_df = item_df.set_index('movieId')
item_df = item_df.loc[unique_items, :]
item_df = item_df.reset_index()
item_df.head()

,movieId,i_1,i_2,i_3,i_4,i_5,i_6,i_7,i_8,i_9,...,i_291,i_292,i_293,i_294,i_295,i_296,i_297,i_298,i_299,i_300
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.513025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [177]:
# user ids and features
user_df = user_df.set_index('userId')
user_df = user_df.loc[unique_users, :]
user_df = user_df.reset_index()
user_df.head()

,userId,u_1,u_2,u_3,u_4,u_5,u_6,u_7,u_8,u_9,...,u_11,u_12,u_13,u_14,u_15,u_16,u_17,u_18,u_19,u_20
0,1,85,29,42,83,47,26,90,45,55,...,17,68,22,7,40,22,1,0,0,0
1,2,3,0,0,7,0,1,11,10,10,...,1,17,1,1,4,0,0,4,3,0
2,3,11,4,5,9,4,5,14,2,7,...,8,16,5,0,15,1,0,0,0,0
3,4,29,6,10,104,19,58,25,27,38,...,4,120,7,10,12,16,4,1,2,0
4,5,8,6,9,15,7,11,9,12,9,...,1,25,3,2,2,5,0,3,0,0

In [178]:
user_df.userId.unique()

array([1, 2, 3, 4, 5, 6, 7])

In [179]:
# item ids and features
item_df.head()

,movieId,i_1,i_2,i_3,i_4,i_5,i_6,i_7,i_8,i_9,...,i_291,i_292,i_293,i_294,i_295,i_296,i_297,i_298,i_299,i_300
0,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.513025,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,47,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,50,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [182]:
# user ids and features
user_df.head()

,userId,u_1,u_2,u_3,u_4,u_5,u_6,u_7,u_8,u_9,...,u_11,u_12,u_13,u_14,u_15,u_16,u_17,u_18,u_19,u_20
0,1,85,29,42,83,47,26,90,45,55,...,17,68,22,7,40,22,1,0,0,0
1,2,3,0,0,7,0,1,11,10,10,...,1,17,1,1,4,0,0,4,3,0
2,3,11,4,5,9,4,5,14,2,7,...,8,16,5,0,15,1,0,0,0,0
3,4,29,6,10,104,19,58,25,27,38,...,4,120,7,10,12,16,4,1,2,0
4,5,8,6,9,15,7,11,9,12,9,...,1,25,3,2,2,5,0,3,0,0

## Load ContentBasedModel

In [183]:
from resype.content_based import ContentBasedModel

In [184]:
cb = ContentBasedModel(user_df,
                        item_df,
                        transaction_list,
                        item_id_name='movieId',
                        user_id_name='userId',
                        target_name='rating',
                        timestamp_name='timestamp')

In [185]:
cb.df # user-movie

,userId,movieId,rating,timestamp,u_1,u_2,u_3,u_4,u_5,u_6,...,i_291,i_292,i_293,i_294,i_295,i_296,i_297,i_298,i_299,i_300
0,1,1,4.0,964982703,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1,3,4.0,964981247,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1,6,4.0,964982224,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1,47,5.0,964983815,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,50,5.0,964982931,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,7,8972,2.5,1111552650,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
996,7,8984,4.0,1106636101,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
997,7,27741,3.0,1107474020,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
998,7,30812,3.5,1113353083,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
999,7,30816,2.0,1107127004,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Train-test Split

In [186]:
#Do your train and test split
cb.split_train_test(train_ratio = 0.7) #To split the data

In [142]:
#Do your train and test split
cb.split_train_test_chronological(train_ratio = 0.7) #To split the data

In [187]:
cb.df_test

,userId,movieId,rating,timestamp,u_1,u_2,u_3,u_4,u_5,u_6,...,i_291,i_292,i_293,i_294,i_295,i_296,i_297,i_298,i_299,i_300
5,1,70,3.0,964982400,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1,151,5.0,964984041,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1,157,5.0,964984100,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1,296,3.0,964982967,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1,333,5.0,964981179,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,7,8665,3.5,1108602755,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
981,7,8666,1.0,1106779625,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
983,7,8798,4.5,1106636602,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
984,7,8808,1.5,1109746594,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989,7,8949,4.0,1110757890,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [188]:
cb.df_train

,userId,movieId,rating,timestamp,u_1,u_2,u_3,u_4,u_5,u_6,...,i_291,i_292,i_293,i_294,i_295,i_296,i_297,i_298,i_299,i_300
206,1,3243,3.0,964981093,85,29,42,83,47,26,...,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
207,1,3247,3.0,964983108,85,29,42,83,47,26,...,0.0,0.60429,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
225,1,3729,5.0,964982363,85,29,42,83,47,26,...,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
201,1,3053,5.0,964984086,85,29,42,83,47,26,...,0.0,0.00000,0.0,0.000000,0.0,0.202585,0.0,0.000000,0.0,0.0
82,1,1256,5.0,964981442,85,29,42,83,47,26,...,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,7,7155,3.0,1173051472,54,14,15,49,23,30,...,0.0,0.00000,0.0,0.590782,0.0,0.000000,0.0,0.000000,0.0,0.0
921,7,2683,2.0,1106635420,54,14,15,49,23,30,...,0.0,0.00000,0.0,0.000000,0.0,0.171763,0.0,0.000000,0.0,0.0
944,7,4700,1.5,1109746591,54,14,15,49,23,30,...,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.478203,0.0,0.0
897,7,1196,4.0,1106635996,54,14,15,49,23,30,...,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0
968,7,6863,4.5,1106712827,54,14,15,49,23,30,...,0.0,0.00000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.0

## Fit model

In [189]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(random_state=202109, n_jobs=-1)
cb.fit_ml_cb(model)

RandomForestRegressor(n_jobs=-1, random_state=202109)

In [190]:
# show trained model
cb.model

RandomForestRegressor(n_jobs=-1, random_state=202109)

## Predict on Test Set

In [191]:
cb.df_test

,userId,movieId,rating,timestamp,u_1,u_2,u_3,u_4,u_5,u_6,...,i_291,i_292,i_293,i_294,i_295,i_296,i_297,i_298,i_299,i_300
5,1,70,3.0,964982400,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,1,151,5.0,964984041,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,1,157,5.0,964984100,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16,1,296,3.0,964982967,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,1,333,5.0,964981179,85,29,42,83,47,26,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
980,7,8665,3.5,1108602755,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
981,7,8666,1.0,1106779625,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
983,7,8798,4.5,1106636602,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
984,7,8808,1.5,1109746594,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
989,7,8949,4.0,1110757890,54,14,15,49,23,30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [192]:
#Predict on the test data
preds_array = cb.reco_ml_cb_tt() #To make predictions as an array
print(len(preds_array))
preds_array

301

array([4.07 , 4.18 , 4.26 , 4.15 , 4.24 , 4.45 , 4.26 , 4.53 , 4.69 ,
       3.72 , 4.68 , 4.3  , 4.97 , 4.14 , 3.45 , 4.83 , 4.56 , 4.86 ,
       4.18 , 4.82 , 4.73 , 3.6  , 4.96 , 4.9  , 4.89 , 4.48 , 4.7  ,
       4.59 , 4.74 , 4.2  , 4.76 , 4.9  , 4.17 , 4.39 , 4.61 , 4.27 ,
       4.05 , 4.46 , 4.26 , 4.88 , 4.6  , 4.45 , 4.39 , 4.49 , 3.23 ,
       4.61 , 4.98 , 4.85 , 4.82 , 4.5  , 4.14 , 4.57 , 4.2  , 4.45 ,
       4.52 , 4.32 , 4.7  , 3.74 , 4.45 , 4.87 , 4.6  , 4.29 , 4.51 ,
       4.43 , 4.71 , 4.75 , 4.55 , 4.41 , 4.64 , 4.74 , 3.495, 2.17 ,
       3.86 , 3.25 , 4.225, 3.5  , 4.41 , 3.175, 3.76 , 4.13 , 3.275,
       3.575, 3.585, 3.36 , 3.84 , 3.625, 4.05 , 3.265, 3.5  , 4.175,
       3.795, 3.62 , 3.19 , 3.9  , 4.23 , 3.99 , 3.315, 3.975, 3.66 ,
       3.44 , 4.09 , 2.875, 3.35 , 3.015, 3.88 , 3.92 , 3.23 , 3.955,
       4.1  , 3.5  , 2.895, 3.51 , 3.285, 3.4  , 3.285, 3.555, 4.02 ,
       3.335, 4.17 , 3.435, 4.16 , 3.9  , 4.2  , 3.54 , 4.075, 3.36 ,
       3.65 , 3.965, 3.615, 3.86 , 3.17 , 3.11 , 4.175, 3.02 , 4.08 ,
       3.975, 3.24 , 4.105, 3.745, 3.67 , 4.18 , 4.14 , 4.2  , 3.87 ,
       3.75 , 3.625, 3.63 , 4.08 , 3.835, 3.92 , 3.645, 4.275, 3.69 ,
       3.285, 4.045, 3.015, 3.675, 3.63 , 3.705, 3.06 , 3.335, 3.57 ,
       3.99 , 2.195, 3.14 , 3.285, 3.265, 3.95 , 3.07 , 3.49 , 3.48 ,
       3.5  , 3.45 , 3.285, 3.53 , 3.14 , 3.22 , 3.38 , 3.49 , 3.17 ,
       3.54 , 3.4  , 3.565, 4.   , 3.345, 3.78 , 2.795, 3.46 , 3.71 ,
       3.505, 3.675, 3.9  , 2.99 , 3.2  , 3.345, 3.325, 3.64 , 3.28 ,
       3.615, 3.935, 3.06 , 3.445, 4.085, 3.87 , 3.86 , 2.91 , 3.32 ,
       3.82 , 3.79 , 3.225, 3.285, 3.56 , 2.895, 3.5  , 2.935, 3.31 ,
       2.965, 2.55 , 3.735, 3.91 , 3.08 , 3.63 , 3.525, 3.175, 3.8  ,
       3.64 , 3.645, 3.405, 2.49 , 3.37 , 3.24 , 3.175, 3.45 , 3.615,
       3.585, 3.335, 3.81 , 3.875, 3.69 , 4.145, 3.21 , 3.825, 2.285,
       3.19 , 2.655, 3.645, 3.715, 3.62 , 3.585, 3.5  , 3.355, 4.025,
       3.   , 3.535, 3.645, 3.36 , 3.44 , 3.375, 3.63 , 2.815, 4.195,
       3.56 , 3.51 , 4.15 , 4.305, 4.19 , 3.645, 3.96 , 3.605, 3.475,
       3.04 , 3.96 , 3.975, 3.29 , 2.715, 3.695, 3.36 , 4.28 , 3.95 ,
       3.105, 3.14 , 3.725, 3.725, 3.19 , 3.16 , 3.885, 3.88 , 3.405,
       3.925, 3.73 , 3.77 , 3.715, 1.995, 2.65 , 3.77 , 3.87 , 3.045,
       3.785, 3.775, 3.62 , 2.835])

## Get Recommendations

In [193]:
unique_users

array([1, 2, 3, 4, 5, 6, 7])

In [198]:
cb.get_rec(user_list=[0, 1, 3], top_n=3)

   user_id    rank_1   rank_2    rank_3
0        0  163981.0  52042.0  117368.0
1        1  122882.0    596.0    7381.0
2        3    2858.0    125.0    4967.0

In [199]:
cb.utility_matrix.shape

(7, 802)

In [200]:
cb.utility_matrix_preds.shape

(7, 9508)

## Evaluate on test set

In [201]:
# renamed to evaluate_test set

In [202]:
mse, mae = cb.evaluate_test_set() #MSE and MAE
mse, mae

proceed

(1.4762376245847177, 0.9313455149501663)

## Cross Validation

In [203]:
# Removed chronological option
# should proportion of train be an argument?

In [208]:
mse, mae = cb.cross_val(model, k=3)

0
Starting splitting
Finished splitting
Starting training
Finished training
Starting computing MAE and MSE
proceed
Finished computing MAE and MSE
1
Starting splitting
Finished splitting
Starting training
Finished training
Starting computing MAE and MSE
proceed
Finished computing MAE and MSE
2
Starting splitting
Finished splitting
Starting training
Finished training
Starting computing MAE and MSE
proceed
Finished computing MAE and MSE

In [209]:
mse, mae

([1.4898759966777408, 1.221593899192318, 1.5457277466777408],
 [0.9358637873754153, 0.8729953725676317, 0.9878654485049833])